<div class="row-fluid">
		<div class="span6">
			<div class="well">
				<h1>
					Schedule by Trade
				</h1>
				<p>
					To view the training schedule for a specific Trade.
				</p>
				<p>
					<a class="btn btn-primary btn-large" <%= link_to 'Trades', trades_path %></a>
				</p>
			</div>
		</div>
		<div class="span6">
			<div class="well">
				<h1>
					Schedule by Date
				</h1>
				<p>
					To view the entire schedule for a particular date.
				</p>
				<p>
					<a class="btn btn-primary btn-large" <%= link_to 'Training Days', training_days_path %></a>
				</p>
			</div>
		</div>
	</div>
<h1>Help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
