<div class="row-fluid">
		<div class="span6">
			<div class="well">
				<h1>
					Schedule by Trade
				</h1>
				<p>
					To view the training schedule for a specific Trade.
				</p>
				<p>
					<a class="btn btn-primary btn-large" <%= link_to 'Trades', trades_path %></a>
				</p>
			</div>
		</div>
		<div class="span6">
			<div class="well">
				<h1>
					Schedule by Date
				</h1>
				<p>
					To view the entire schedule for a particular date.
				</p>
				<p>
					<a class="btn btn-primary btn-large" <%= link_to 'Training Days', training_days_path %></a>
				</p>
			</div>
		</div>
	</div>
<h1>Welcome to the CARLETON Training Website</h1>
<p>On this site you can currently:
<ul>
<li>View the Training Calendar by Date or Trade</li>
<li>View other relevant training information such as upcoming First Aid Courses and Fitness Test Schedules</li>
</ul>
For Departmental Staff you will also be able to:
<ul>
<li>Update and maintain your departmental training calendar</li>
</ul>
</p>